@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,500,600,700,800');

body{
    margin: 0;
    padding: 0;
    width: 100%;
    font-family: 'Open Sans', sans-serif;
    &.BodyClassic{
        background-image: url('../img/Background_Edited.jpg');
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        min-height: 100vh;
    }
}

@import 'variaveis.scss';
@import 'login.scss';
@import 'formularios.scss';